# aws_region: Specifies the AWS region where resources will be deployed
aws_region = "eu-central-1"

# aws_profile: Refers to the AWS CLI profile used for authentication
aws_profile = "my_aws_profile"

# application_name: Represents the name of the API
application_name = "my_api_name"

# api_stage_name: Indicates the stage name (e.g., dev, prod, test, stage...)
api_stage_name = "dev"

# custom_domain_name: Specifies the domain name for the API Gateway
custom_domain_name = "example.com"

# route53_zone_id: Refers to the Route 53 hosted zone ID for DNS configuration
route53_zone_id = "ABC123DEF456"